<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Digital_Notes_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Digital_Notes_Manager.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Digital_Notes_Manager.Properties.Settings>
            <setting name="rememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>-</value>
            </setting>
        </Digital_Notes_Manager.Properties.Settings>
        <Digital_Notes_Manager.Settings1>
            <setting name="UserID" serializeAs="String">
                <value>0</value>
            </setting>
        </Digital_Notes_Manager.Settings1>
    </userSettings>
</configuration>